@model WEBFILM.Models.infoMovie
@using WEBFILM.Models;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MovieDataContext db = new MovieDataContext();
    //var key = Model.MovieInf.MovieID;
    var youtubeReview = (from a in db.Movies
                         join b in db.ReviewOfMovies on a.MovieID equals b.MovieID into table_1
                         from c in table_1
                         join d in db.YoutubeReviews on c.YoutubeID equals d.YoutubeID
                         select new
                         {
                             ID = c.MovieID,
                             Video = d.Video,
                             Author = d.Author,
                         }).OrderByDescending(a => a.Video).ToList();
}

<div class="row">
    <article>
        <section>
            <div class="movies-heading">
                <h2><a href="#">THÔNG TIN PHIM</a></h2>
            </div>
            @*<section id="detail-movie">
                        <div class="detail-box">
                            <div class="detail-movie-img">
                                <div class="quality">HDrip</div>
                                <img src="~/Content/images/l-2.jpg" />
                            </div>
                             <button type="submit" class="btndetail"><a href="">Đặt phòng</a></button>
                            <button type="submit" class="btndetail"><a href="">Xem trailer</a></button>
                        </div>
                        <div class="detail-decripsion">

                        </div>
                    </section>
                </section>*@
            <section class="form-detail">
                <section class="details">
                    <div class="img-box">
                        <div class="detail-movie-img">
                            <img height="600px" ; src="@Html.DisplayFor(m=>m.MovieInf.Image)"/>
                            <div class="detail-click">
                                <a href="~/Home/Tickets">Đặt phòng</a>
                                <a href="#">Xem trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="movie-info">
                            <h1 class="entry-title">@Html.DisplayFor(m => m.MovieInf.Title)</h1>
                            <p class="smalls-title">@Html.DisplayFor(m => m.MovieInf.Title)</p>
                            <p class="year">Năm: <a href="#">@Html.DisplayFor(m => m.MovieInf.ReleaseYear)</a></p>
                            <p class="category">
                                Thể loại:
                                <a href="#">
                                    @foreach (var item in Model.Category.GenreName)
                                    {
                                        @item.ToString();
                                    }
                                </a>
                            </p>
                            <p class="country">Thời lượng: <a href="#">@Html.DisplayFor(m => m.MovieInf.TimeOfFilm)</a></p>
                            <p class="country">Quốc gia: <a href="#">Mỹ</a></p>
                            <p class="imdb">Điểm IMDB: <a href="#">@Html.DisplayFor(m => m.MovieInf.IMDb)</a></p>
                        </div>
                    </div>
                </section>
                <div class="detail">
                    <div class="infomation">
                        <h1 class="detail-title-info">Bối cảnh phim</h1>
                        <p class="text">
                            @Html.DisplayFor(m => m.MovieInf.Plot)
                        </p>

                    </div>
                </div>
            </section>
        </section>

    </article>
    <aside>
        <section>
            <div class="popular">
                <h2 class="popularmovie">Phim phổ biến</h2>
                <div class="mit">
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scollItem">
                        <div class="thumbItems">
                            <img src="~/Content/images/l-1.jpg" />
                            <div class="thumbtitle">
                                <p class="thumbMovieName"><a href="#">Into darkness</a></p>
                                <div class="thumbmoviedetail">
                                    <p>Thể loại: <a href="">Hành động </a>, <a href="">Phiêu lưu</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>

